@model IEnumerable<H1.Models.Chain>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChainName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChainIdentify)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChainName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChainIdentify)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ChainIdentify }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ChainIdentify })
        </td>
    </tr>
}

</table>
