@model H1.Models.VMStore
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>新增商店</h2>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#selector').change(function () {
                alert($('#selector').val());
            });
        })
    </script>
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>商店列表？</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.StoreIdentify, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoreIdentify, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoreIdentify, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StoreAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoreAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoreAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StoreLocationX, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoreLocationX, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoreLocationX, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StoreLocationY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoreLocationY, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoreLocationY, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.StoreLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StoreLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoreLocation, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.StoreTelephone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoreTelephone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoreTelephone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StorePay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.RadioButtonFor(model => model.StorePay, "False") 免費仔 ｜
                @Html.RadioButtonFor(model => model.StorePay, "True") 乾爹
                @Html.ValidationMessageFor(model => model.StorePay, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StoreText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoreText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoreText, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--連鎖店家下拉-->
    <div class="form-group">
        @Html.LabelFor(model => model.StoreIdentifyChain, "StoreIdentifyChain", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StoreIdentifyChain", (IEnumerable<SelectListItem>)ViewBag.ChainList)
            @Html.ValidationMessageFor(model => model.StoreIdentifyChain, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StoreIdentifyChineseName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoreIdentifyChineseName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoreIdentifyChineseName, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        @Html.LabelFor(model => model.StorePictureNumberPicture, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img width="200" id="newPhoto" />
            <input id="photo" name="photo" type="file" class="form-control" data-val="true" data-val-required="請上傳商品照片" />
            <span class="field-validation-valid text-danger" data-valmsg-for="photo" data-valmsg-replace="true"></span>
            <span class="field-validation-valid text-danger">@ViewBag.ErrMessage</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PictureTypeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.RadioButtonFor(model => model.PictureTypeNumber, "11") 菜單1 ｜
                @Html.RadioButtonFor(model => model.PictureTypeNumber, "12") 菜單2 ｜
                @Html.RadioButtonFor(model => model.PictureTypeNumber, "13") 折扣
                @Html.ValidationMessageFor(model => model.PictureTypeNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("回到列表", "Index", "Stores")
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>

    $("#photo").change(() => {

        var oFReader = new FileReader();
        var file = document.getElementById('photo').files[0];
        oFReader.readAsDataURL(file);
        oFReader.onloadend = function (oFRevent) {
            var src = oFRevent.target.result;
            $('#newPhoto').attr('src', src);
        }
    });
</script>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
